body{
    background-color: black;
    color: #fff;
}
.text{
    font-size: calc((35vw)/2);
    position: absolute;
    margin-left: auto;
    text-decoration: none;
    padding: 0 6rem;
    color: #fff;
    left: 0;
    right: 0;
    margin-top: 55px;
    text-align: center;
    margin-right: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation: main-text 900ms ease-out; 
    animation-fill-mode: forwards;
}
.text2{
    font-size: calc((30vw)/7);
    position: absolute;
    line-height: 1.1;
    padding: 0 6rem;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 400px;
    text-align: left;
    margin-right: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation: main-text 900ms ease-out; 
    animation-fill-mode: forwards;
}
.text3{
    font-size: calc((30vw)/7);
    line-height: 1.1;
    margin-left: auto;
    left: 0;
    padding: 0 6rem;
    right: 0;
    margin-top: 200px;
    text-align: left;
    margin-right: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation: main-text 900ms ease-out; 
    animation-fill-mode: forwards;
}
.pic1{
    position: absolute; 
    overflow: hidden;
    padding: 0 6rem;
    margin-left: calc((50vw)/5);
    margin-top: calc((150vw)/2);
    transform: rotate(-9deg);
}
.pic2{
    position: relative;
    padding: 0 6rem;
    overflow: hidden;
    margin-left: 35rem;
    margin-top: 50rem;
    margin-bottom: 25rem;
}
hr{
    margin-top: 42rem;
    margin-bottom: 5rem;
}
.Listtitle_1{
    font-size: 4rem;
}
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.line{
    content: '';
    width: 100%;
    height: 2px;
    color: #fff;
}
.about_header{
    margin: 0 0 calc((25vw)/2);
}
.service_section {
    display: flex;
    gap: 30px;
    padding-bottom: 6rem;
}
dt {
    margin-bottom: 1em;
    font-size: 2rem;
}
dd {
    opacity: .5;
    font-size: 1rem;
    line-height: 2;
}
.sec_logos{
    width: 100%;
    color: #0e0e0e;
    background: #fff;
    padding-bottom: 6rem;
}
.sec_logos li{
    width: 100%;
    text-align: center;
    list-style: none;
}
.sec_logos ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}
.thankyou_quote{
    width: fit-content;
    color: #0e0e0e;
    padding: 4rem;
    padding-bottom: 6rem;
    border: 1px solid gray;
    border-radius: 444rem;
}
.QuoteSlice_quote__1H6VJ.QuoteSlice_isWhite__2CGiu {
    width: 100%;
    background: #fff;
    color: rgb(14, 14, 14);
    text-transform: uppercase;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
    }
.QuoteSlice_quote__1H6VJ.QuoteSlice_isWhite__2CGiu blockquote p{
    font-size: calc((15vw)/2);
    text-align: center;
}
.QuoteSlice_quote__1H6VJ{
    position: relative;
    text-align: center;
    line-height: 1;
}
.QuoteSlice_quote__1H6VJ span{
    font-size: 0.8rem;
    margin-top: 1rem;
    display: inline-block;
    line-height: 1.5;
    box-sizing: border-box;
}
.pic3{
    position: absolute; 
    overflow: hidden;
    transform: rotate(-6deg);
    right: 56%;
    margin-top: 10rem;
}
.pic4{
    position: relative; 
    overflow: hidden;
    margin-left: 31rem;
    transform: rotate(6deg);
}
.pic5{
    position: absolute; 
    overflow: hidden;
    left: 58%;
    margin-top: 15rem;
    transform: rotate(6deg);


}
.three_pictures{
    background: #fff;
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.AwardsSlice_list__1KXRd li{
    color: rgb(14, 14, 14);
    text-transform: uppercase;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);

    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style: none;
    margin-left: 7rem;
}
.AwardsSlice_list__1KXRd li{
    color: rgb(14, 14, 14);
    text-transform: uppercase;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);

    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style: none;
    margin-left: 7rem;
    font-size: 1.7rem;
}
.AwardsSlice_list__1KXRd {
    margin-top: calc((50vw)/2);
}
.pic6{
    left: 0px; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    opacity: 1; 
    transition: none 0s ease 0s;
}
.figure_caption{
    color: #fff;
    top: 505rem;
    left: 34rem;
    position: absolute;
    text-transform: uppercase;
    z-index: 2;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
}
.figure_caption h3{
    font-size: 6rem;
    padding-bottom: 2rem;
    width: 18rem;
}
.figure_caption span{
    font-size: 1rem;
}
.selected_clients h2{
    font-size: 4rem;
    font-weight: normal;
    text-transform: uppercase;
}
.service_section{
    padding: 0 6rem;
}
@media screen and (max-width: 1366px ) {

    .figure_caption{
        top: calc((860rem)/2);
        left: 25rem;
    }
    .pic2{
        margin-left: 20rem;
        margin-bottom: 6rem;
    }
    .line hr{
        margin-top: 12rem;
    }
    .pic4{
        margin-left: 17rem;
    }
    .pic5{
        left: 51%;
    }
}
@media screen and (max-width: 1025px) and (min-width: 767px){ */

    .pic1{
        width: 20%;
        margin-left: 6rem;
        margin-top: calc((460vw)/2);
        transform: rotate(-9deg);
    }
    .text2{
        font-size: calc((70vw)/7);
        margin-top: calc((100vw)/2);
    }
    .pic1{
        width: 50%;
        margin-left: 1rem;
        margin-top: calc((480vw)/2);
        transform: rotate(-9deg);
    }
    .text3{
        font-size: calc((30vw)/3);
        margin-top: calc((100vw)/2);
        height: calc((300vw)/2)
    }
    .pic2{
        margin-left: 17rem;
        width: calc((100vw)/2);
        margin-top: calc((430vw)/2);
    }
    .line hr{
        margin-top: 60rem;
    }

    .service_section{
        flex-direction: column;
    }
    .service_section h2{
        font-size: 10rem;
    }
    .service_section dl dt{
        font-size: 5rem;
    }
    .service_section dd{
        font-size: 3rem;
    }
    .sec_logos ul{
        grid-column: 1 / 5;
        grid-template-columns: repeat(2,1fr);
        grid-column: auto;
    }
    .selected_clients{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    .three_pictures{
        padding-top: 0;
    }
    .pic4{
        width: 39%;
        margin-left: calc((60vw)/2);
        margin-top: calc((10vw)/4);
    }
    .pic3{
        width: 39%;
        left: calc((10vw)/2);
        margin-top: calc((30vw)/2);
    }
    .pic5{
        width: 39%;
        left: calc((116vw)/2);
        margin-top: calc((30vw)/2);
    }
    .figure_caption{
        top: calc((2700vw)/2);
        left: 15rem;
    }
    .figure_caption h3{
        font-size: calc((40vw)/3);
    }

}
@media screen and (max-width: 766px ) and (min-width: 413px) { */
    .pic1{
        width: 50%;
    }
    .text2{
        font-size: calc((60vw)/7);
        padding: 0 3rem;
        margin-top: calc((100vw)/2);
    }
    .text3{
        font-size: calc((60vw)/7);
        padding: 0 3rem;
        margin-top: calc((40vw)/2);
    }
    .text{
        padding: 0 3rem;
    }
    .pic1{
        width: 50%;
        margin-top: 47rem;
        margin-left: 1rem;
        transform: rotate(0deg);
    }
    .pic2{
        width: 50%;
        margin-left: 1rem;
        margin-top: 68rem;
    }
    .service_section{
        flex-direction: column;
    }
    .sec_logos ul{
        grid-template-columns: repeat(2,1fr);
        grid-column: auto;
    }
    .selected_clients{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    .pic4{
        width: 40%;
        margin-left: 8rem;
    }
    .pic5 {
        width: 40%;
        margin-top: 8rem;
    }
    .pic3 {
        width: 40%;
        margin-top: 8rem;
    }
    .AwardsSlice_list__1KXRd{
        margin-top: calc((80vw)/2);
    }
    .AwardsSlice_list__1KXRd li{
        font-size: 2rem;
    }
    .figure_caption{
        top: 470rem;
        left: 4rem;
    }
    .figure_caption h3{
        font-size: calc((30vw)/3);
        margin-left: calc((10vw)/3);
    }
    .figure_caption span{
        font-size: calc((10vw)/3);
        margin-left: calc((10vw)/3);
    }
}
@media screen and (max-width: 412px) and (min-width: 312px){
    .figure_caption{
        top: 450rem;
        left: 4rem;
    } 
    .about-margin{
        margin-left: 1rem;
        margin-right: 1rem;

    }
    .text2{
        font-size: calc((62vw)/7);
        padding: 0 2rem;
        margin-top: calc((100vw)/2);
    }
    .text{
        margin-left: -4rem;
    }
    .text3{
        font-size: calc((60vw)/7);
        padding: 0 2rem;
        margin-top: calc((10vw)/2);
    }
    .pic1{
        width: 55%;
        margin-top: 36rem;
        margin-left: -5rem;
        transform: rotate(0deg);

    }
    .pic2{
        width: 60%;
        margin-top: 52rem;
        margin-left: -5rem;
    }
    .service_section{
        flex-direction: column;
        margin-left: -5rem;
        width: 66%;
    }
    .sec_logos ul{
        grid-template-columns: repeat(1,1fr);
        grid-column: auto;
    }
    .selected_clients{
        grid-column-start: 1;
        grid-column-end: 0;
        grid-row-start: 1;
    }
    .pic4{
        width: 50%;
        margin-left: 5rem;
    }
    .pic3{
        width: 50%;
        margin-left: -5rem;
    }
    .pic5{
        width: 50%;
        margin-top: 20rem;
        margin-left: -3rem;
    }
    .AwardsSlice_list__1KXRd {
        margin-top: calc((209vw)/2);
    }
    .AwardsSlice_list__1KXRd li{
        margin-left: 2rem;
        font-size: 1.8rem;
    }
    .figure_caption{
        top: calc((1085rem)/2);
        width: 60%;
    }
    .figure_caption h3{
        font-size: calc((30vw)/3);
        width: 10%;
        margin-left: calc((10vw)/3);
    }
    .figure_caption span{
        font-size: calc((10vw)/3);
    }
}