.about_main_logo{
    width: 70%;
    height: 70%;
    position: relative !important;
    padding-top: 70px;
}
.about_hero__2OoYY{
    padding: 0;
}

.about_main_logo_parent{
    text-align: center;
    justify-content: center;
    width: 100%;
    display: block;
    align-self: center;
}
.spacer{
    padding-bottom: 6%;
}

.partition{
    content: "";
    display: block;
    border-bottom: 1px solid rgb(80, 48, 19) !important;
    margin: 80rem auto 0;
    width: 1200rem;
}
.pink_panther:hover{
    opacity: 0.5;
}
.pink_panther{
    transition: 0.3s;
}
/* @media (max-width: 500px) {
    .our_services_heading{
        padding-top: 70rem !important;
    }
} */