*{
    margin: 0;
}

body{
    background-color: black;
    color: #fff;
}

main{
    padding: 30px;
    width: 100%;
}

.banner-img{
    background-position: center;
    background-repeat: no-repeat;
}

.home-img-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    overflow: hidden;
}

.main-img-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#home-img{
    padding: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: absolute;
}

.main-txt{
    font-size: 250px;
    position: absolute;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 55px;
    text-align: center;
    margin-right: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation: main-text 900ms ease-out; 
    animation-fill-mode: forwards;
}

.main-img-container a{
    position: absolute;
    left: 42%;
    bottom: 8%;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 23px;
}

@keyframes main-text {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}