body{
    background-color: black;
    color: #fff;
}

.banner-img{
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
}

.home-img-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    overflow: hidden;
}

.main-img-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#home-img{
    padding: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: absolute;
}

.main-txt{
    text-decoration: none;
    color: white;
    font-size: 250px;
    position: absolute;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 55px;
    text-align: center;
    margin-right: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation: main-text 900ms ease-out; 
    animation-fill-mode: forwards;
}

.main-img-container .bottom-txt{
    position: absolute;
    left: 42%;
    bottom: 8%;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.main-img-container .bottom-txt{
    animation: main-text 900ms ease-out; 
    animation-fill-mode: forwards;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.second-container{
    height: 100vh;
}

.second-container p{
    font-size: 79px;
    width: 77%;
    letter-spacing: 1px;
    line-height: 94%;
    padding-top: 95px;
    padding-left: 121px;
}

.second-container a{
    display: block;
    padding-left: 121px;
    margin-top: 60px;
    text-decoration: none;
    color: white;
}

.third-container{
    height: fit-content;
    width: 100%;
    justify-content: center;

}

.third-container-one{
    padding-left: 121px;
    padding-right: 200px;
    margin-top: 100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: end;
}

.third-container-one span p{
    text-align: start;
    font-size: 60px;
    font-weight: 500;
}

.view a{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.img-div-main{ 
    margin-top: 100px;
    display: flex;
    overflow: hidden;
}

.img-div-one{
    background-color: #fff;
}

.img-div-two{
    display:flex;
    flex-direction: column;
    height: fit-content;
}

.img-div-two > img:first-child{
    z-index: 2;
}

@keyframes main-text {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}