body{
    background-color: black;
    color: #fff;
}

.home-img-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    overflow: hidden;
    object-fit: cover;
}

.main-img-container{
    height: 100vh;
    width: 100vw; 
    object-fit: cover;
    overflow: hidden;
}

#home-img{
    padding: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: absolute;
}

.main-txt{
    text-decoration: none;
    color: white;
    font-size: calc((35vw)/2);
    position: absolute;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 55px;
    text-align: center;
    margin-right: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation: main-text 900ms ease-out; 
    animation-fill-mode: forwards;
}

.main-img-container .bottom-txt{
    position: absolute;
    left: 42%;
    bottom: 8%;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.main-img-container .bottom-txt{
    animation: main-text 900ms ease-out; 
    animation-fill-mode: forwards;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.second-container{
    height: 100vh;
}

.second-container p{
    font-size: 79px;
    width: 77%;
    letter-spacing: 1px;
    line-height: 94%;
    padding-top: 95px;
    padding-left: 121px;
}

.second-container a{
    display: block;
    padding-left: 121px;
    margin-top: 60px;
    text-decoration: none;
    color: white;
}

.third-container{
    height: fit-content;
    width: 100%;
    justify-content: center;

}

.third-container-one{
    padding-left: 121px;
    padding-right: 200px;
    margin-top: 100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: end;
}

.third-container-one span p{
    text-align: start;
    font-size: 60px;
    font-weight: 500;
}

.view a{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.img-div-main{ 
    margin-top: 100px;
    display: flex;
    overflow: hidden;
}

.img-div-one{
    background-color: #fff;
}

.img-div-one > img{
    object-fit: cover;
}

.img-div-two{
    display:flex;
    flex-direction: column;
    height: fit-content;
}

.img-div-two > img:first-child{
    z-index: 2;
    object-fit: cover;
}

.forth-container{
    display: flex;
    height: 100vh;
}

.forth-container p{
    margin-top: 11%;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    width: 55%;
    font-weight: 400;
}
.inside-four{
    display: flex;
    text-align: center;
    justify-content: center;
}

.five-container{
    display: flex;
    height: 130vh;
}

.five-container > img{
    object-fit: cover;
}

.six-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    height: 85vh;
}

.six-container > p{
    font-size: 50px;
    width: 50%;
    font-weight: 400;
}

.seven-container{
    width: 100%;
}
.seven-container > img{
    object-fit: cover;
}

@keyframes main-text {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@media screen and (max-width: 1024px) {
    .second-container p{
        font-size: calc((15vw)/2);
        width: 95%;
        padding-top: 63px;
        padding-left: 3rem;
    }
    .second-container{
        height:53vh
    }
    .forth-container p{
        width:78%;
    }
    .forth-container{
        height: 60vh;
    }
    .seven-container{
        height: 43vh;
    }
}
@media screen and (max-width: 415px) {
    .main-img-container .bottom-txt {
        left: calc((50vw)/2);
    }
    .second-container p {
        font-size: calc((15vw)/2);
        width: 89%;
        padding-top: 30px;
        padding-left: 2rem;
        }
    .second-container{
        height:calc((150vw)/2);
    }
    .second-container a{
        font-size: 3rem;
        padding-left: 60px;
    }
    .third-container-one{
        padding-left: 60px;
        flex-direction: column;
    }
    .view{
        margin-top: 3rem;
    }
    .img-div-main{
        flex-direction: column;
        gap: 1rem;
    }
    .img-div-two{
        flex-direction: column;
        gap: 1rem;
    }
    .inside-four p{
        font-size: 2rem;
        width: 100%;
    }
    .five-container{
        margin-top: 3rem;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        height: 30rem;
    }
    .five-container img{
        width: 100%;
        
    }
    .six-container p{
        width: 100%;
        font-size: 2rem;
    }
}