.whatsapp{
    right: 50rem;
    bottom: 20rem; 
    width: 70px; 
    height: 70px; 
    position: fixed;
    z-index: 2000 !important;
}

@media (max-width:500px) {
    .whatsapp{
        right: 10rem;
        width: 60px;
        height: 60px;
    }
}