@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer {
    box-sizing: border-box;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 5rem 10rem;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-upper>div:first-child>span {
    font-size: calc((5vw)/3);
}

.footer-upper>div:first-child a {
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
}

.footer-upper>div:nth-child(2) {
    display: flex;
    gap: 100px;
}

.footer-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom div:nth-child(1) {
    color: #7F7E7F;
}

.footer-bottom div:nth-child(1) a {
    text-decoration: none;
    color: #7F7E7F;
}

.main-xt {
    font-size: calc((82vw) / 5);
    position: relative;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: 55px;
    text-align: center;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: main-text 900ms ease-out;
    animation-fill-mode: forwards;
}

.footer-four div div {
    line-height: 20px;
    position: relative;
    width: fit-content;
    text-align: center;
}

.footer-four>div div::before {
    cursor: pointer;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    width: 100%;
    background-color: #FFF;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) {
    .footer-four>div div:hover::before {
        cursor: pointer;
        left: auto;
        width: 0%;
    }
}

.footer-four>div div {
    cursor: pointer;
}

.footer-four div div a {
    text-decoration: none;
    color: #fff;
    font-size: calc((6vw)/7);
}

.footer-two>a::before {
    text-decoration: underline;
}

@media (hover: hover) {
    .footer-two>a::after {
        cursor: pointer;
        left: auto;
        width: 0%;
    }
}

@media screen and (max-width: 1023px) {
    .footer-four .footer-address {
        display: none;
    }
}

@media screen and (max-width: 912px) {
    .footer {
        padding: 0.9rem 0rem;
        text-align: center;
    }

    .footer-upper {
        flex-direction: column;
    }

    .footer-upper>div:first-child>span {
        font-size: calc((12vw)/2);
        font-weight: 500;
    }

    .footer-two {
        font-size: calc((7vw)/2);
    }

    .footer-four {
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .footer-four > div {
        display: grid;
        gap: 1rem;
    }

    .footer-four div div a {
        font-size: calc((7vw)/2);
    }

    .footer-bottom {
        margin-top: 1rem;
    }

    .footer-bottom div:nth-child(1) {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        align-items:flex-start;
        font-size: calc((5vw)/2);
    }
}