.Alert_alert__1a5b1 {
    position: fixed;
    z-index: 10000;
    left: 30px;
    bottom: 30px
}

.Alert_link__2TASH {
    color: #0e0e0e;
    display: block;
    background: #fff;
    padding: 15px;
    font-size: 15px;
    -webkit-transition: color .8s cubic-bezier(.26, 1.04, .54, 1), background .8s cubic-bezier(.26, 1.04, .54, 1);
    -o-transition: color .8s cubic-bezier(.26, 1.04, .54, 1), background .8s cubic-bezier(.26, 1.04, .54, 1);
    transition: color .8s cubic-bezier(.26, 1.04, .54, 1), background .8s cubic-bezier(.26, 1.04, .54, 1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1)
}

.Alert_link__2TASH:hover {
    color: #fff;
    background: #111;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s
}

.Footer_nav__33YjX {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid #4f4f4f;
    padding-top: 54rem
}

.Footer_column__3d3oT {
    font-size: 13rem;
    line-height: 2;
    text-transform: uppercase
}

.Footer_column__3d3oT:first-child {
    margin-bottom: 50rem
}

.Footer_column__3d3oT:first-child h2 {
    line-height: 1.2;
    font-size: 25rem
}

.Footer_logo__1lV8i {
    height: auto;
    width: 359.375rem;
    margin: 30rem 0 0 7.8125rem
}

.Footer_subfooter__HzC3Y {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 12rem;
    margin-top: 20rem;
    padding: 0 15.625rem 20rem
}

.Footer_subfooterLeft__3DT1W {
    opacity: .5
}

.Footer_subfooterLeft__3DT1W>span {
    display: inline-block
}

@media (min-width:1024px) {
    .Footer_nav__33YjX {
        padding-top: 80rem
    }

    .Footer_column__3d3oT {
        width: 180rem;
        font-size: 13rem
    }

    .Footer_column__3d3oT:first-child {
        margin-bottom: 0;
        width: 360rem;
        margin-left: 120rem;
        margin-right: 300rem
    }

    .Footer_column__3d3oT:first-child h2 {
        font-size: 25rem
    }

    .Footer_logo__1lV8i {
        width: 1200rem;
        margin: 60rem 0 0 120rem
    }

    .Footer_subfooter__HzC3Y {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 12rem;
        margin-top: 50rem;
        padding: 0 120rem 80rem
    }

    .Footer_subfooterLeft__3DT1W>span {
        margin-right: 18rem
    }
}

@media (max-width:1023px) {
    .Footer_nav__33YjX {
        text-align: center;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly
    }

    .Footer_column__3d3oT:last-child {
        display: none
    }

    .Footer_column__3d3oT:first-child {
        width: 100%
    }

    .Footer_subfooterLeft__3DT1W {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin-top: 40rem;
        font-size: 10rem
    }
}

.Button_button__2RxXb {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
    padding: 0
}

.Header_nav__2YzZy {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26rem;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw
}

.Header_panel__2XDEn {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%
}

.Header_burgerBtn__2V9_x {
    margin-top: 25rem
}

.Header_closeBtn__wzNvb {
    margin: 25rem 0 auto
}

.Header_list__1jN0i {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.Header_link__2wQjN {
    margin: 40rem 0
}

.Header_link__2wQjN:last-child {
    margin-right: 0
}

@media (min-width:1024px) {
    .Header_nav__2YzZy {
        font-size: 15rem
    }

    .Header_panel__2XDEn {
        margin-top: 20rem
    }

    .Header_link__2wQjN {
        margin: 0 1em 0 0;
        -webkit-transform: translateY(-50rem);
        -ms-transform: translateY(-50rem);
        transform: translateY(-50rem)
    }
}

@media (max-width:1023px) {
    .Header_panel__2XDEn {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        background: #0e0e0e;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: -webkit-transform 1s cubic-bezier(.77, 0, .175, 1);
        transition: -webkit-transform 1s cubic-bezier(.77, 0, .175, 1);
        -o-transition: transform 1s cubic-bezier(.77, 0, .175, 1);
        transition: transform 1s cubic-bezier(.77, 0, .175, 1);
        transition: transform 1s cubic-bezier(.77, 0, .175, 1), -webkit-transform 1s cubic-bezier(.77, 0, .175, 1)
    }

    .Header_panel__2XDEn.Header_isOpened__1PsSm {
        -webkit-transition-timing-function: cubic-bezier(.16, 1.08, .38, .98);
        -o-transition-timing-function: cubic-bezier(.16, 1.08, .38, .98);
        transition-timing-function: cubic-bezier(.16, 1.08, .38, .98);
        -webkit-transform: translateY(0) translateZ(0);
        transform: translateY(0) translateZ(0)
    }

    .Header_list__1jN0i {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: auto
    }
}

.SmoothScroll_container__4kUK4 {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.SmoothScroll_container__4kUK4.SmoothScroll_is-active__1hx5f {
    position: fixed
}

.SmoothScroll_size__1DDiE {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px
}

.Layout_curtain__2RlON {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #111
}

.Layout_transition__1VQK5 {
    visibility: hidden
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent
}

@font-face {
    font-family: aktiv-web;
    src: url(../../../fonts/aktivgrotesk-regular-web.woff2) format("woff2"), url(../../../fonts/aktivgrotesk-regular-web.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: aktiv-web;
    src: url(../../../fonts/aktivgrotesk-medium-web.woff2) format("woff2"), url(../../../fonts/aktivgrotesk-medium-web.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: caligo-poster-web;
    src: url(../../../fonts/caligo-poster-web.woff2) format("woff2"), url(../../../fonts/caligo-poster-web.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

:root {
    --sbw: 0px
}

html {
    font-size: .2666666667vw;
    font-size: calc(.2666666667vw - var(--sbw) / 375)
}

body {
    font-family: aktiv-web, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    background: #0e0e0e;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.is-loading * {
    cursor: progress !important
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

::selection {
    background: #999;
    color: #fff
}

::-moz-selection {
    background: #999;
    color: #fff
}

.scrollable {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%
}

@media (min-width:768px) {
    html {
        font-size: .2666666667vw;
        font-size: calc(.2666666667vw - var(--sbw) / 375)
    }
}

@media (min-width:1024px) {
    html {
        font-size: .0694444444vw;
        font-size: calc(.0694444444vw - var(--sbw) / 1440)
    }

    .mobile-only {
        display: none
    }
}

@media (max-width:1023px) {
    .desktop-only {
        display: none
    }
}

.r {
    position: relative;
    display: block
}

.r iframe,
.r img,
.r svg,
.r video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

img.lazy {
    -webkit-transition: opacity 1.2s cubic-bezier(.16, 1.08, .38, .98);
    -o-transition: opacity 1.2s cubic-bezier(.16, 1.08, .38, .98);
    transition: opacity 1.2s cubic-bezier(.16, 1.08, .38, .98);
    opacity: 0
}

img.lazy.loaded {
    opacity: 1
}

@media (min-width:1024px) {
    .r--resp {
        padding-top: 0 !important
    }
}

@media (max-width:1023px) {
    .r--resp {
        padding-bottom: 0 !important
    }
}

a {
    text-decoration: none
}

a,
a:visited {
    color: currentColor
}

.underlined {
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: -o-linear-gradient(left, #fff 0, #fff 100%);
    background-image: linear-gradient(90deg, #fff 0, #fff);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 0 1px;
    display: inline;
    -webkit-transition: background .6s cubic-bezier(.77, 0, .175, 1);
    -o-transition: background .6s cubic-bezier(.77, 0, .175, 1);
    transition: background .6s cubic-bezier(.77, 0, .175, 1);
    padding-bottom: 3rem
}

.inverted {
    background-size: 100% 1px;
    background-position: 100% 100%
}

@media (min-width:1024px) {

    .underlined.is-active,
    .underlined:hover {
        background-size: 100% 1px
    }

    .inverted.is-active,
    .inverted:hover,
    .underlined.is-active,
    .underlined:hover {
        -webkit-transition-timing-function: cubic-bezier(.16, 1.08, .38, .98);
        -o-transition-timing-function: cubic-bezier(.16, 1.08, .38, .98);
        transition-timing-function: cubic-bezier(.16, 1.08, .38, .98)
    }

    .inverted.is-active,
    .inverted:hover {
        background-size: 0 1px
    }
}