.parent_div{
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 1rem;
}

.major_pic{
    width:100%
}
.minnor_pic{
    width: calc(((((100vw - 320px)/ 12) * 6) + 10px) + 20px);
    display: -webkit-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    width: 100%;
    gap:1rem
}
.major_picture{
    width: 100%;
    height: 100%;
}
.minnor_pictures{
    width: 100%;

    /* margin-left: 1rem; */
    /* margin-top: 1rem; */
}
.minor_pic_div{
    display: flex;
    width: 100%;
}
.minnor_pic p{
    /* background-color: #fff; */
    color: #fff;
    font-size: 2rem;
}