body{
    background-color: black;
    color: #fff;
}
.project_details_margin{
    margin-left: 6rem;
    margin-right: 7rem;
}
.project_details_text{
    font-size: calc((35vw)/2);
    position: absolute;
    margin-left: auto;
    text-decoration: none;
    color: #fff;
    left: 0;
    right: 0;
    margin-top: 55px;
    text-align: center;
    margin-right: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation: main-text 900ms ease-out; 
    animation-fill-mode: forwards;
}
.project_header{
    min-height: 18vw;
}

.Filters_filters__18hoF a {
    display: flex;
    font-size: calc((10vw)/7);
}
@media screen and (max-width: 480px) {
    .project_details_text{
        position: absolute;
    }
    .Filters_filters__18hoF ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .project_header{
        min-height: 90vw;
    } 
    .Filters_filters__18hoF a {
        display: flex;
        font-size: calc((10vw)/2);
    } 
}
@media screen and (max-width: 375px) {
    .project_details_text{
        position: absolute;
    }
    .Filters_filters__18hoF ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .project_header{
        min-height: 100vw;
    }  
    .Filters_filters__18hoF a {
        display: flex;
        font-size: calc((10vw)/2);
    }
}
@media screen and (min-width: 1024px) {
    .project_details_text{
        position: absolute;
    }
    .Filters_filters__18hoF ul{
        align-items: center;
        width: 100%;
    }
    .project_header{
        min-height: 20vw;
    }  
}

.Filters_filters__18hoF{
    font-size: 20rem;
    margin-top: 3rem;
    margin-right: 0px;
    margin-bottom: 3rem;
    position: absolute;
}
.Filters_filters__18hoF ul {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 0px;
}

.Filters_filters__18hoF li a{
    width: max-content;
}
.Filters_filters__18hoF span {
    color: grey;
}