.SmoothScroll_container__4kUK4 {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.SmoothScroll_container__4kUK4.SmoothScroll_is-active__1hx5f {
    position: fixed;
}
.SmoothScroll_size__1DDiE {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
}
.Hero_header__1cZhA {
    position: relative;
    min-height: 23vw;
}
.Hero_overflowHidden__3JFla {
    overflow: hidden;
}
.Hero_image__2c2i5 {
    height: 100vh;
}
.Hero_logo__1aZ0K {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 60rem;
    margin-left: 7.8125rem;
}
.Hero_logo__1aZ0K svg {
    width: 359.375rem;
    height: auto;
}
.Hero_logo-wrapper__2vmFQ {
    font-size: 0;
}
.Hero_bottomText__h0pzT {
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    position: absolute;
    color: #fff;
    z-index: 1;
    bottom: 60rem;
    left: 50%;
    font-size: 15rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
}
@media (min-width: 1024px) {
    .Hero_header__1cZhA {
        min-height: 18vw;
    }
    .Hero_logo__1aZ0K {
        margin: 96rem 0 0 120rem;
    }
    .Hero_logo__1aZ0K svg {
        width: 1200rem;
    }
    .Hero_bottomText__h0pzT {
        bottom: 55rem;
        font-size: 22rem;
    }
}
.QuoteSlice_quote__1H6VJ {
    position: relative;
    text-align: center;
    line-height: 1;
    margin-top: 60rem;
    margin-bottom: 60rem;
}
.QuoteSlice_quote__1H6VJ blockquote {
    margin: 0 auto;
    width: 281.25rem;
    font-size: 30rem;
    line-height: 1.1;
}
.QuoteSlice_quote__1H6VJ.QuoteSlice_isWhite__2CGiu {
    background: #fff;
    color: #0e0e0e;
    text-transform: uppercase;
    margin: 0;
    padding: 100rem 0;
}
.QuoteSlice_quote__1H6VJ.QuoteSlice_isWhite__2CGiu:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 0px solid rgba(14, 14, 14, 0.1) !important;
    border-radius: 50%;
    width: 150%;
}
.QuoteSlice_quote__1H6VJ.QuoteSlice_isWhite__2CGiu blockquote {
    font-size: 30rem;
    color: rgb(91, 91, 92);
}
.QuoteSlice_quote__1H6VJ > span {
    font-size: 13rem;
    display: inline-block;
    line-height: 1.5;
    margin-top: 30rem;
    width: 218.75rem;
    color: rgb(91, 91, 92) !important;
}
@media (min-width: 1024px) {
    .QuoteSlice_quote__1H6VJ {
        margin-top: 180rem;
        margin-bottom: 180rem;
    }
    .QuoteSlice_quote__1H6VJ blockquote {
        line-height: 1;
        width: 960rem;
        font-size: 55rem;
    }
    .QuoteSlice_quote__1H6VJ.QuoteSlice_isWhite__2CGiu {
        padding: 130rem 0;
    }
    .QuoteSlice_quote__1H6VJ.QuoteSlice_isWhite__2CGiu:after {
        width: 1200rem;
    }
    .QuoteSlice_quote__1H6VJ.QuoteSlice_isWhite__2CGiu blockquote {
        font-size: 90rem;
    }
    .QuoteSlice_quote__1H6VJ > span {
        font-size: 13rem;
        margin-top: 20rem;
        width: 480rem;
    }
}
@media (max-width: 1023px) {
    .QuoteSlice_quote__1H6VJ blockquote br {
        display: none;
    }
}
.ProjectsSlice_header__1gvPy {
    width: 100%;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 31.25rem;
    margin: 40rem 0 20rem;
}
.ProjectsSlice_header__title__2nS6j {
    width: 100%;
    font-size: 50rem;
}
.ProjectsSlice_header__link__29cO6 {
    font-size: 15rem;
    white-space: nowrap;
}
.ProjectsSlice_article__uEv9O {
    position: relative;
    background-color: black;
    color: white !important;
}
.ProjectsSlice_article__uEv9O picture {
    opacity: 1;
    -webkit-transition: opacity 0.6s cubic-bezier(0.26, 1.04, 0.54, 1);
    -o-transition: opacity 0.6s cubic-bezier(0.26, 1.04, 0.54, 1);
    transition: opacity 0.6s cubic-bezier(0.26, 1.04, 0.54, 1);
}
.ProjectsSlice_article__uEv9O:hover picture {
    opacity: 0.8;
}
.ProjectsSlice_article__uEv9O:hover .ProjectsSlice_caption__1PlsW div,
.ProjectsSlice_article__uEv9O:hover .ProjectsSlice_caption__1PlsW h3 {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    opacity: 1;
}
.ProjectsSlice_caption__1PlsW {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 15rem;
    margin-left: 15.625rem;
    margin-top: 30rem;
}
.ProjectsSlice_number__34AQe {
    font-family: caligo-poster-web, serif;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 100rem;
}
@media (min-width: 1024px) {
    .ProjectsSlice_projects1__2nqI4 article {
        width: 100%;
    }
    .ProjectsSlice_projects2__O2Zbk,
    .ProjectsSlice_projects3__3BeN3 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .ProjectsSlice_projects2__O2Zbk article,
    .ProjectsSlice_projects3__3BeN3 article {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 50%;
    }
    .ProjectsSlice_projects3__3BeN3 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-direction: column;
        flex-direction: column;
        height: calc(60.905vw - 0.60902 * var(--sbw));
    }
    .ProjectsSlice_header__1gvPy {
        margin: 110rem 0 65rem;
    }
    .ProjectsSlice_header__title__2nS6j {
        font-size: 55rem;
        width: 240rem;
    }
    .ProjectsSlice_caption__1PlsW {
        margin-top: 35rem;
        margin-left: 40rem;
        font-size: 15px;
    }
    .ProjectsSlice_caption__1PlsW div,
    .ProjectsSlice_caption__1PlsW h3 {
        opacity: 0;
        -webkit-transition: opacity 1s cubic-bezier(0.26, 1.04, 0.54, 1);
        -o-transition: opacity 1s cubic-bezier(0.26, 1.04, 0.54, 1);
        transition: opacity 1s cubic-bezier(0.26, 1.04, 0.54, 1);
    }
    .ProjectsSlice_caption__1PlsW div {
        -webkit-transition-delay: 0.05s;
        -o-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }
    .ProjectsSlice_number__34AQe {
        font-size: 200rem;
    }
}
@media (max-width: 1023px) {
    .ProjectsSlice_header__link__29cO6 {
        display: none;
    }
}
.VideoLoop_wrapper__3MwLi {
    position: relative;
}
.VideoLoop_wrapper__3MwLi video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.ImagesSlice_media--centered__1PaLN {
    width: 312.5rem;
    margin: 40rem auto;
}
.ImagesSlice_hasBackground__33Vg0 {
    padding-top: 40rem;
    padding-bottom: 40rem;
}
@media (min-width: 1024px) {
    .ImagesSlice_media--centered__1PaLN {
        width: 1080rem;
        margin-top: 120rem;
        margin-bottom: 120rem;
    }
    .ImagesSlice_hasBackground__33Vg0 {
        padding-top: 120rem;
        padding-bottom: 120rem;
    }
}
.TextImageSlice_text-image__1jI6_ {
    margin-top: 40rem;
}
.TextImageSlice_text__GOIpZ {
    padding: 31.25rem;
}
.TextImageSlice_text__GOIpZ h2 {
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 35rem;
    margin-bottom: 20rem;
}
.TextImageSlice_text__GOIpZ p {
    line-height: 1.25;
    font-size: 20rem;
}
@media (min-width: 1024px) {
    .TextImageSlice_text-image__1jI6_ {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-top: 120rem;
        margin-bottom: 120rem;
    }
    .TextImageSlice_text__GOIpZ {
        padding: 0;
        width: 420rem;
        margin-left: 180rem;
    }
    .TextImageSlice_text__GOIpZ h2 {
        width: 300rem;
        font-size: 55rem;
        margin-bottom: 25rem;
    }
    .TextImageSlice_text__GOIpZ p {
        font-size: 20rem;
    }
    .TextImageSlice_image__mH7uS {
        width: 540rem;
        margin-left: 120rem;
    }
}
.TextImagesSlice_text-medias__1s8pX {
    position: relative;
    background: #f5f1e8;
    color: #0e0e0e;
}
.TextImagesSlice_text__2DVvh {
    padding: 31.25rem;
}
.TextImagesSlice_text__2DVvh h2 {
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 35rem;
    margin-bottom: 20rem;
}
.TextImagesSlice_text__2DVvh p {
    line-height: 1.6;
    font-size: 17rem;
}
.TextImagesSlice_media__1NN7W {
    position: relative;
}
.TextImagesSlice_media__1NN7W:last-child {
    margin-bottom: 0;
}
@media (min-width: 1024px) {
    .TextImagesSlice_text-medias__1s8pX {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-top: 130rem;
        padding-bottom: 130rem;
    }
    .TextImagesSlice_text__2DVvh {
        padding: 0;
        width: 360rem;
        margin-left: 240rem;
    }
    .TextImagesSlice_text__2DVvh h2 {
        width: 300rem;
        font-size: 55rem;
        margin-bottom: 25rem;
    }
    .TextImagesSlice_text__2DVvh p {
        font-size: 15rem;
    }
    .TextImagesSlice_medias__1p-zV {
        width: 540rem;
        margin-left: 180rem;
    }
    .TextImagesSlice_media__1NN7W {
        margin-bottom: 90rem;
    }
}
.DiptychSlice_diptych__2ii3b figure {
    position: relative;
}
.DiptychSlice_caption__3WPdm {
    position: absolute;
    z-index: 1;
    line-height: 1.25;
    text-transform: uppercase;
    width: 359.375rem;
    left: 15.625rem;
    bottom: 30rem;
    font-size: 15rem;
}
@media (min-width: 1024px) {
    .DiptychSlice_diptych__2ii3b {
        display: -ms-flexbox;
        display: flex;
    }
    .DiptychSlice_caption__3WPdm {
        width: auto;
        left: 40rem;
        bottom: 80rem;
        font-size: 20rem;
    }
    .DiptychSlice_image__1gG7b {
        width: 720rem;
    }
}
.DescriptionSlice_description__N9ojT {
    display: -ms-flexbox;
    display: flex;
    padding: 31.25rem 31.25rem 0;
}
.DescriptionSlice_description__N9ojT p {
    line-height: 1;
    font-size: 45rem;
}
.DescriptionSlice_description__N9ojT h2 {
    line-height: 1;
    font-size: 35rem;
}
.DescriptionSlice_description__N9ojT a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15rem;
    margin-top: 40rem;
}
.DescriptionSlice_about__3fKWM {
    margin-bottom: 160rem;
}
.DescriptionSlice_projects__se9aV {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 40rem;
}
@media (min-width: 1024px) {
    .DescriptionSlice_description__N9ojT {
        margin-top: 100rem;
        padding: 0 120rem;
    }
    .DescriptionSlice_description__N9ojT p {
        font-size: 75rem;
    }
    .DescriptionSlice_description__N9ojT h2 {
        font-size: 55rem;
    }
    .DescriptionSlice_description__N9ojT a {
        margin-top: 60rem;
        font-size: 15rem;
    }
    .DescriptionSlice_about__3fKWM {
        margin-bottom: 180rem !important;
    }
    .DescriptionSlice_projects__se9aV {
        margin-bottom: 110rem;
    }
}
.ListSlice_main__mKXcM {
    text-transform: uppercase;
}
.ListSlice_main__mKXcM.ListSlice_isWhite__2bI_2 {
    background: #fff;
    color: #0e0e0e;
    padding-top: 60rem;
}
.ListSlice_title__3zHBd {
    font-size: 50rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.ListSlice_list__3B0uk {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.ListSlice_list__3B0uk:last-child {
    margin-bottom: 20rem;
    padding-bottom: 0;
    border-bottom: none;
}
.ListSlice_list__3B0uk p {
    text-transform: none;
    line-height: 1.5;
    font-size: 16rem;
    margin-bottom: 25rem;
}
.ListSlice_list__3B0uk dt {
    margin-bottom: 1em;
    font-size: 25rem;
}
.ListSlice_list__3B0uk dd {
    opacity: 0.5;
    font-size: 15rem;
    line-height: 2;
}
@media (min-width: 1024px) {
    .ListSlice_main__mKXcM {
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 90rem;
    }
    .ListSlice_main__mKXcM.ListSlice_isWhite__2bI_2 {
        padding-top: 120rem;
    }
    .ListSlice_title__3zHBd {
        width: 360rem;
        margin-left: 120rem;
        padding-right: 120rem;
        font-size: 50rem;
    }
    .ListSlice_list__3B0uk {
        width: 240rem;
        margin-right: 60rem;
    }
}
@media (max-width: 1023px) {
    .ListSlice_main__mKXcM {
        padding: 31.25rem;
    }
    .ListSlice_title__3zHBd {
        margin-bottom: 40rem;
    }
    .ListSlice_list__3B0uk {
        margin-bottom: 45rem;
        padding-bottom: 40rem;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    }
}
.AwardsSlice_main__1aMoU {
    background: #fff;
    padding-bottom: 40rem;
}
.AwardsSlice_images__3BK3b {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.AwardsSlice_image__1L8sw {
    position: relative;
    width: 218.75rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.AwardsSlice_image1__1DKmJ {
    z-index: 0;
    -webkit-transform: rotate(-4.35deg);
    -ms-transform: rotate(-4.35deg);
    transform: rotate(-4.35deg);
    margin-left: -78.125rem;
}
.AwardsSlice_image2__2nQcP {
    -webkit-transform: rotate(2.43deg);
    -ms-transform: rotate(2.43deg);
    transform: rotate(2.43deg);
    margin-left: -78.125rem;
    margin-top: 145rem;
    z-index: 1;
}
.AwardsSlice_image3__2EoCy {
    -webkit-transform: rotate(1.14deg);
    -ms-transform: rotate(1.14deg);
    transform: rotate(1.14deg);
    z-index: 2;
    margin-left: -62.5rem;
}
.AwardsSlice_list__1KXRd {
    color: #0e0e0e;
    text-transform: uppercase;
    margin: 60rem 0 0 15.625rem;
    width: 343.75rem;
}
.AwardsSlice_list__1KXRd li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20rem;
    padding: 19rem 0 16rem;
}
.AwardsSlice_list__1KXRd li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
    .AwardsSlice_main__1aMoU {
        /* padding-top: 95rem; */
        padding-bottom: 120rem;
    }
    .AwardsSlice_image__1L8sw {
        width: 480rem;
    }
    .AwardsSlice_image1__1DKmJ {
        z-index: 2;
        -webkit-transform: rotate(-4.35deg) translateX(18%);
        -ms-transform: rotate(-4.35deg) translateX(18%);
        transform: rotate(-4.35deg) translateX(18%);
        margin-top: 145rem;
        margin-left: 0;
    }
    .AwardsSlice_image2__2nQcP {
        margin: 0;
        -webkit-transform: rotate(2.43deg) translateX(0);
        -ms-transform: rotate(2.43deg) translateX(0);
        transform: rotate(2.43deg) translateX(0);
    }
    .AwardsSlice_image3__2EoCy {
        margin: 270rem 0 0;
        -webkit-transform: rotate(1.14deg) translateX(-18%);
        -ms-transform: rotate(1.14deg) translateX(-18%);
        transform: rotate(1.14deg) translateX(-18%);
    }
    .AwardsSlice_list__1KXRd {
        margin: -30rem 0 0 120rem;
        width: 1200rem;
    }
    .AwardsSlice_list__1KXRd li {
        font-size: 25rem;
        padding: 23rem 0 20rem;
    }
}
.SectionPushSlice_main__8CNrO {
    position: relative;
}
.SectionPushSlice_caption__19ik9 {
    color: white !important;
    position: absolute;
    text-transform: uppercase;
    z-index: 2;
    top: 50%;
    left: 46.875rem;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
}
.SectionPushSlice_caption__19ik9 h3 {
    font-size: 35rem;
    width: 156.25rem;
    margin-bottom: 10rem;
}
.SectionPushSlice_caption__19ik9 span {
    font-size: 15rem;
}
@media (min-width: 1024px) {
    .SectionPushSlice_article__1Sltj {
        width: 100%;
    }
    .SectionPushSlice_caption__19ik9 {
        left: 600rem;
        color: white !important;
    }
    .SectionPushSlice_caption__19ik9 h3 {
        font-size: 90rem;
        margin-bottom: 40rem;
    }
    .SectionPushSlice_caption__19ik9 span {
        font-size: 15rem;
    }
}
.ClientsSlice_main__1EeZO {
    color: #0e0e0e;
    background: #fff;
}
.ClientsSlice_main__1EeZO h2 {
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    font-size: 50rem;
    width: 312.5rem;
}
.ClientsSlice_main__1EeZO ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/* .ClientsSlice_main__1EeZO ul:after {
    content: "";
    -ms-flex: auto;
    flex: auto;
} */
.ClientsSlice_main__1EeZO ul img {
    width: 90rem;
}
.ClientsSlice_main__1EeZO ul a,
.ClientsSlice_main__1EeZO ul img {
    display: block;
}
.ClientsSlice_main__1EeZO ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40rem;
    width: 156.25rem;
    -ms-flex-order: 1;
    order: 1;
}
@media (min-width: 1024px) {
    .ClientsSlice_main__1EeZO h2 {
        width: 300rem;
    }
    .ClientsSlice_main__1EeZO ul {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .ClientsSlice_main__1EeZO ul img {
        width: 237rem;
    }
    .ClientsSlice_main__1EeZO ul li {
        margin-top: 80rem;
        width: 473rem;
    }
}
@media (max-width: 1023px) {
    .ClientsSlice_main__1EeZO ul li.ClientsSlice_title__2yFoa {
        width: 100%;
        -ms-flex-order: 0;
        order: 0;
    }
}
.contact_main__3QAHV {
    padding: 93.75rem 31.25rem 80rem;
}
.contact_description__dMHfw {
    font-size: 35rem;
    margin-bottom: 40rem;
}
.contact_information__1lX9- {
    text-transform: uppercase;
    line-height: 1.73;
    font-size: 15rem;
}
.contact_information__1lX9- p {
    margin-bottom: 1em;
}
.contact_information__1lX9- p:last-child {
    margin-bottom: 0;
}
@media (min-width: 1024px) {
    .contact_main__3QAHV {
        padding: 120rem;
        display: -ms-flexbox;
        display: flex;
    }
    .contact_description__dMHfw {
        width: 660rem;
        font-size: 54rem;
        margin-right: 120rem;
        margin-bottom: 0;
    }
    .contact_information__1lX9- {
        font-size: 15rem;
        width: 300rem;
    }
}

/* @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.contactus-form { max-width:420px; margin:50px auto; background-color: white; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid grey;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}
.contactus-form textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.submit-btn-contact {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:black;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.submit-btn-contact:hover { background:grey; } */
.contact-container {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(226, 82, 57);
}

@media (max-width: 820px) {
    .contact-container {
        flex-direction: column;
    }
}





.login-box {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* width: 400px; */
    padding: 40px;
    /* transform: translate(-50%, -50%); */
    /* background: rgba(0,0,0,.5); */
    box-sizing: border-box;
    /* box-shadow: 0 15px 25px rgba(0,0,0,.6); */
    /* border-radius: 10px; */
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 34px;
    border: none;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
  }

  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
  }

  .login-box .user-box textarea:focus ~ label,
  .login-box .user-box textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #ffffff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 100px #ffffff;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  