.nav{
    /* color: white; */
    color: rgb(80, 48, 19) !important;
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.nav ul{
    width: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.nav li{
    list-style: none;
    padding: 10px;
    margin-top: 8px;
    transform: translateY(-100%);
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.Header_list__1jN0i li:first-child{
    animation: nav-animation 300ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

.Header_list__1jN0i li:nth-child(2){
    animation: nav-animation 400ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

.Header_list__1jN0i li:nth-child(3){
    animation: nav-animation 500ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

.Header_list__1jN0i li:nth-child(4){
    animation: nav-animation 600ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

.Header_list__1jN0i li:nth-child(5){
    animation: nav-animation 700ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

.Header_list__1jN0i li:last-child{
    animation: nav-animation 800ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

.Header_list__1jN0i a{
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    display: block;
}

.Header_list__1jN0i ul li a:after{
    content: '';
    width: 90%;
    position: absolute;
    color: rgb(80, 48, 19) !important;
    height: 2px;
    bottom: 3px;
    transform: scaleX(0);
    left: 5px;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.Header_list__1jN0i ul li a:hover:after{
    color: rgb(80, 48, 19) !important;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navback {
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes nav-animation{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}