nav{
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

nav ul{
    width: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

nav li{
    list-style: none;
    padding: 10px;
    margin-top: 8px;
    transform: translateY(-100%);
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

nav li:first-child{
    animation: nav-animation 300ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

nav li:nth-child(2){
    animation: nav-animation 400ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

nav li:nth-child(3){
    animation: nav-animation 500ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

nav li:last-child{
    animation: nav-animation 600ms linear;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

nav a{
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    display: block;
}

nav ul li a:after{
    content: '';
    width: 90%;
    position: absolute;
    background-color: #fff;
    height: 2px;
    bottom: 3px;
    transform: scaleX(0);
    left: 5px;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes nav-animation{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}