.sliderparent {
	align-items: center;
	// background: #E3E3E3;
	background-color: #0e0e0e;
	display: flex;
	justify-content: center;
    // margin-bottom: 50px;
}

@mixin white-gradient {
	// background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 20s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	// background: white;
    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 13%);
    height: 170px;
    overflow: hidden;
    align-items: center;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 20s linear infinite;
		display: flex;
		gap: 20px;
		width: 3500px;
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

.slide img{
	object-fit: contain;
	height: 150px;
	width: 200px;
}